apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3.12-management # 带管理界面的版本
          ports:
            - containerPort: 5672 # 消息通信端口
            - containerPort: 15672 # 网页管理端口
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: "guest"
            - name: RABBITMQ_DEFAULT_PASS
              value: "guest"
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
spec:
  selector:
    app: rabbitmq
  ports:
    - name: amqp
      protocol: TCP
      port: 5672
      targetPort: 5672
      nodePort: 30672 # 代码连这个(如果用NodePort)
    - name: management
      protocol: TCP
      port: 15672
      targetPort: 15672
      nodePort: 30080 # 浏览器访问这个
  type: NodePort